/* CSS LAYOUT */
/* **************************************************************** */
/* VARIABLES */
:root{
    --margenExterno: 30px;
    --logoAltura: 50px;
    --longNav: 0.5;
    --img1Altura: 400px;
}

/* HEADER */
header{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--margenExterno);
}

/* LOGO */
.logo{
    height: var(--logoAltura);
}

main{
    background-color: orange;
}

/* FOTO 1 */
.foto1{
    margin-left: 30px;
    height: var(--img1Altura);
}

/* NAV */
nav{
    flex-grow: var(--longNav);
    display: flex;
    justify-content: space-between;
}
